In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [11]:
# df=pd.read_csv('~D:/Vasiliev/PERMAK-A/nv/8nom_9dev/out_kk_78.csv', sep=';',names=['tvs', 'tvel', 'time', 'kk'])
# names = glob.glob('D:/Vasiliev/PERMAK-A/nv/*.csv', recursive=True)
# df = pd.concat([pd.read_csv(f,sep=';',names=['tvs', 'tvel', 'time', 'kk']) for i,f in enumerate(names)],
#               ignore_index=True,sort=False)

['D:/Vasiliev/PERMAK-A/nv\\y8-0.csv', 'D:/Vasiliev/PERMAK-A/nv\\y8-1.csv']

In [24]:
print(df.iloc[1402777],df.iloc[1402778],df.iloc[1402779+8002])

tvs     163.0000
tvel    330.0000
time     25.0000
kk        0.5097
Name: 1402777, dtype: float64 tvs     1.000
tvel    0.000
time    0.000
kk      0.973
Name: 1402778, dtype: float64 tvs       1.0000
tvel    307.0000
time     21.0000
kk        0.4832
Name: 1410781, dtype: float64

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "DataFrame"

In [15]:
df.shape

(1402777, 4)